
<div *ngIf="logged()">
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-info navbar fixed-top">
    <a class="navbar-brand" href="www.clinicaalemanaosorno.cl/wps/index.php/en/"><img src="/assets/img/navbar.png"/> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" >
          <a id="blanco" class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Opciones
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
            
            <a id="gris" class="dropdown-item"  [routerLink]="['panel']">Gestion de cobranzas</a>
            <a id="gris" class="dropdown-item"  [routerLink]="['panel']">Asignacion de cuentas</a>
            <a id="gris" class="dropdown-item"  [routerLink]="['panel']">Cambio contraseña</a>   
                     
          </div>
          </li>
            
            <li class="nav-item">
              <a class="nav-link" id="blanco" href="#" (click)="salir()">Salir</a>
            </li>
      </ul>
    </div>
  </nav>
</div>
